<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新闻动态</title>
    <script language="javascript" type="text/javascript" src="../static/js/jquery-1.8.0.min.js"></script>

    <link href="../static/css/css.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<div id="header">

    <div class="hd_cont container">
        <dl class="hd_logo">
            <dt class="fl"><a href="/index"> <img src="../static/picture/logo-simple.png" alt="" height="50"
                                                  width="80"></a></dt>
            <dd class="fl"><h2>西北市场最具影响力企业品牌</h2>
                <p> 服务至上 ● 诚信诚心</p></dd>
        </dl>
        <dl class="dh_phone fr">
            <dt>服务热线</dt>
            <dd>13995067688</dd>
        </dl>
    </div>

    <div id="nav">
        <div id="navMenu">
            <ul>
                <li class='home'><a href="/index">网站首页</a></li>

                <li><a href="/index#introduce" rel='dropmenu'>公司介绍</a></li>

                <li><a href="/index#product" rel='dropmenu'>产品展示</a></li>

                <li><a href="news" rel='dropmenu'>新闻动态</a></li>

                <li><a href="#help" rel='dropmenu'>留言反馈</a></li>

                <li><a href="/contact" rel='dropmenu'>联系我们</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="article_article MB10"></div>
<div class="ncon">
    <div class="nconr">
        <div class="weizhi">
            <h2>行业动态</h2>
            <h3>当前位置：<a href=''>主页</a> > <a href='news'>新闻资讯</a> > <a href=''>行业动态</a> > </h3>
        </div>
        <div class="title">
            <h1>{{ article.title }}</h1>
        </div>
        <div class="resource">作者： {{ article.author }} 时间：{{ article.time }} 来源：未知</div>
        <div class="des">摘要：{{ article.sumary }}...</div>
        <div class="content">
            <p>
            <div style="padding: 0px; margin: 0px auto; color: rgb(102, 102, 102); font-family: 微软雅黑; font-size: 14px; line-height: 24px;">
                {% for c in contents %}
                <p>{{ c }}</p>
                {% endfor %}
            </div>
            </p>
        </div>
        <div class="fenxiang">
            <!-- JiaThis Button BEGIN -->

            <!-- JiaThis Button END -->

        </div>
        <div class="clear"></div>
        <div class="linkarc">
            <div class="linkarc_t tit5" id="tag_about">
                <h2>相关阅读</h2>
            </div>
            <div class="linkarc_c">
                <!--<ul>-->
                    <!--<li><a href="javascript:;" title="反渗透技术的组成部件">反渗透技术的组成部件</a></li>-->
                    <!--<li><a href="javascript:;" title="环保法不是棉花绑棒，而是杀手锏">环保法不是棉花绑棒，而是杀手锏</a></li>-->
                    <!--<li><a href="javascript:;" title="期待食在广州，更期待无油烟扰民">期待食在广州，更期待无油烟扰民</a></li>-->
                    <!--<li><a href="javascript:;" title="污染源自动监控难题如何破解呢">污染源自动监控难题如何破解呢</a></li>-->
                    <!--<li><a href="javascript:;" title="污染源自动监控难题如何破解呢">污染源自动监控难题如何破解呢</a></li>-->

                <!--</ul>-->
            </div>
        </div>
    </div>
    <div class="nconl MTA">
        <div class="prs">
            <h4 class="t05">新闻资讯</h4>
            <div class="t05_con">
                <ul class="t05_uls">

                    <li><a href=''><span>公司新闻</span></a></li>
                    <li class='cur'><a href='/news/hyxw/'><span>行业动态</span></a></li>
                    <li><a href=''><span>常见问题</span></a></li>

                </ul>
            </div>
        </div>
        <div class="contactn l MT10">
            <div class="tits"> 联系我们
            </div>
            <div class="subnr"><img title="联系我们" alt="联系我们" src="../static/picture/catactus.jpg">
                <p>电话：13995067688</p>
                <p>邮箱：li657585@126.com</p>
                <p>地址：宁夏石嘴山市平罗县</p>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="page_top"><span id="pageTop"><a href="javascript:;">[向上]</a></span>?</div>
<div class="footwrap">
    <div class="footer container">
        <div class="fotnav"><a class="nobg" href="javascript:;">网站首页</a> <a href="javascript:;about/" rel='dropmenu3'>关于我们</a>
            <a href="javascript:;cp/" rel='dropmenu3'>产品展示</a> <a href="javascript:;case/" rel='dropmenu3'>客户案例</a> <a
                    href="javascript:;news/" rel='dropmenu3'>新闻资讯</a> <a href="javascript:;help/"
                                                                         rel='dropmenu3'>帮助中心</a> <a
                    href="javascript:;fangan/" rel='dropmenu3'>解决方案</a> <a href="javascript:;contact/" rel='dropmenu3'>联系我们</a>
        </div>
        <div class="fottxt">
            <p>Copyright &copy; 宁夏冀宁木业有限公司</p>
            <p>联系人：李经理 联系电话：13995067688 工厂地址：宁夏石嘴山市平罗县 邮箱地址：li657585@126.com</p>
        </div>
        <dl class="fotphone">
            <dt>全国服务热线</dt>
            <dd>13995067688</dd>
        </dl>
    </div>
</div>
<div class="online-qq" style="right:3px">
    <dl class="qq_content">
        <dd class="tel"> 咨询电话：<br/>
            <strong>13995067688</strong></dd>
        <dd class="tel"><img src="../static/images/ewm.jpg" alt="二维码"/>
            <p>关注微信</p>
        </dd>
    </dl>
    <div class="footqq"></div>
</div>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>
