<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ning</title>
    <link href="../static/css/index.css" charset="UTF-8" type="text/css" rel="stylesheet">
</head>
<body class="HolyGrail">
<header>
    <img src="../static/images/logo.png" height="70" width="100">
    <a href="#">网站首页</a>
    <a href="#">产品展示</a>
</header>
<div class="HolyGrail-body">
    <main class="HolyGrail-content">...</main>
    <nav class="HolyGrail-nav">...</nav>
    <aside class="HolyGrail-ads">...</aside>
</div>
<footer>
    <div class="bottom">
        <p>地址： xxxxx</p>
        <p>             </p>
        <p>联系方式： xxxx</p>
    </div>
</footer>
</body>
</html>